html,
body{
    height: 100%;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.gradient{
	background: rgb(163,35,171);
	background: linear-gradient(263deg, rgba(163,35,171,1) 0%, rgba(254,225,249,1) 100%, rgba(0,212,255,1) 100%);
	color: white;
}


#imag{
	text-align: center;
}

.img-fluid{
	border-radius: 40px;
}


.icon {
    color: #fff;
    height: 5rem;
    width: 5rem;
    font-size: 1.75rem;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom:20px;
    
}

.catalogo1{
	border-radius: 40px;
	float: left;
	padding: 20px;
}
.hpage{
	border: 1px;
	margin: 10px;
	margin-top: 50px;
	text-align: center;
}

#container .field_container{
	width: 200px;
}

#container .button {
	margin-left: 340px;
}

.radio{
	font-weight: bold;
}


#container{
	border: 1px;
	height: 1000px;
	width: 1000px;
	position: relative;
	margin: 200px auto;
	color: purple;
	line-height: 25px;
	text-align: justify;
}
	
#container .contato{
	position: absolute;
	left: 600px;
	top: 0px;
}	

.icones{
	
}
* {
    box-sizing: border-box;
}

footer {
    line-height: 40px;
    height: 50px;
    background: rgb(163,35,171);
	background: linear-gradient(263deg, rgba(163,35,171,1) 0%, rgba(254,225,249,1) 100%, rgba(0,212,255,1) 100%);
    padding-top: 5px;
}

footer ul {
    float: right;
    display: table;
}

footer ul li {
    display: table-cell;
    vertical-align: middle;
    padding:10px;
	
}